body{
    width: 600px;
    margin: 0 auto;
    border: 10px solid #5D3168;
}

.blogDate{
    padding-top:20px;
}

.blogDate, .blogTitle, .blogPost {
    margin: 0 30px;
    padding-bottom: 20px;
}

.blogPara{
    margin-bottom: 10px;
}

.date {
    font-size: 18px;
    color: #49B0BF;
}

.title {
    font-size: 20px;
    color: #82C712;
}

.blogHeader{
    border-left: 3px solid black;
    padding-left: 7px;
}

.blogText{
    font-size: 14px;
}

